html {
  height: 100%;
}

body {
  background-color: black;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0 !important;

  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;

  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/*NAVBAR*/
nav {
  background-color: #1b317f;
  font-size: 14px;
}
.container {
  background-image: "../images/pulpit-mono-dark.jpg";
}

